    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
        display: flex;
        justify-content: space-around;
    }

    .section-cocktails {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 14px;
    }

    .card {
        
        width: 200px;
        height: 300px;
        border: 1px solid #1D5429;
        border-radius: 10px 10px 10px 10px ;
        box-shadow: 1px 1px 1px 1px #1d542973;
        text-align: center;
    }

    .card img {
        
        width: 200px;
        height: auto;
        
    }
    nav ul {
        text-align: center;
    }

    nav ul li {
        display: inline-block;
        padding: 1rem;
        
    }




    /***************
    ****************